.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #F93A3A;
}
.logo {
    justify-self: left;
    font-size: xx-large;
}
.links {
    display: flex;
    justify-content: space-between;
}
.link {
    padding-left: 3em;
}
a {
    color:black;
    font-weight: bolder;
    text-decoration: none;
}
.selected {
    text-decoration: underline;
    text-transform: uppercase;
}