.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #F93A3A;
    color: rgb(0, 0, 0);
}

a {
    color:black;
    font-weight: bolder;
}