.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #F93A3A;
}

a {
    color:black;
    font-weight: bolder;
}